.avatar-wrap {
	text-align: center;
}
.avatar-wrap .ant-avatar {
	border: 2px #fff solid;
	box-shadow: 0 0 0 3px rgb(0 0 0 / 10%);
	margin-bottom: 15px;
}

.profile-card .ant-input-affix-wrapper-readonly,
.profile-card input:read-only,
.profile-card input:read-only:focus {
	border: none !important;
	box-shadow: none;
}
.profile-content-row {
	margin-bottom: 30px;
}

.profile-card-wrapper {
	padding-top: 140px;
	padding-bottom: 20px;
	min-height: calc(100vh - 64px);
	/* background: #FF512F;
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
  background: linear-gradient(to right, #DD2476, #FF512F); */
}

.profile-card {
	max-width: 500px;
	border-radius: 15px;
	box-shadow: 0 0 15px rgb(0 0 0 / 10%);
	position: relative;
	width: 95%;
}

.profile-edit {
	position: absolute;
	top: 15px;
	right: 15px;
}

.avatar-edit-mode {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.avatar-edit-mode .ant-avatar:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0 0 0 / 65%);
	background-image: url(../../assets/images/camera.png);
	background-position: center;
	background-size: 50px auto;
	background-repeat: no-repeat;
}

.ant-avatar img {
	object-fit: cover;
	object-position: center;
	display: flex;
	width: 100%;
	height: 100%;
}

.profile-card-wrapper .ant-upload.ant-upload-disabled {
	cursor: zoom-in;
}
