.question-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.question-container h3 {
    margin-bottom: 16px;
}

.custom-checkbox-option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.option-circle {
    width: 24px;
    height: 24px;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #595959;
    margin-right: 8px;
}

.option-circle.correct {
    background-color: #52c41a;
    border-color: #52c41a;
    color: #fff;
}

.option-circle.incorrect {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    color: #fff;
}

.option-label {
    margin: 0;
    font-size: 16px;
}

.ant-checkbox-disabled .ant-checkbox-inner {
    background-color: transparent;
    border-color: transparent;
}
.checkbox-icon {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    position: relative;
    border: 3px solid #9aa1e1 !important;
}

.list-li::marker {
    display: none;
}

.list-li {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.custom-checkbox-prepend {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    height: 38px;
    width: 38px;
    opacity: 0;
    z-index: 2;
}

.custom-checkbox-prepend:checked ~ .checkbox-icon {
    border: 3px solid #1c8844 !important;
    background-color: #1c8844 !important;
}

.custom-checkbox-prepend:checked ~ .checkbox-icon::after {
    content: '✔'; /* Add a check mark or any other icon */
    width: 32px;
    height: 32px;
    display: inline-block;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    z-index: 1;
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    position: absolute;
    left: 0;
    top: 0;
}