.App {
  text-align: center;
}

@media print {



  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}

.print-teacher {
  page-break-after: auto;
}

.question-table * {
  font-family: serif;
}

.question-table table {
  border-collapse: collapse;
  width: 100%;
}

.question-table .text-left {
  text-align: left;
}

.question-table td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.question-table th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  background-color: #7F7F7F;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 600px) {
  .chapter-card {
    margin-bottom: 60px;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}