@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* @font-face {
	font-family: telenor-light;
	src: url('fonts/telenorlight-webfont.ttf');
}
@font-face {
	font-family: telenor-regular;
	src: url('fonts/Telenor-Regular.otf');
} */
@font-face {
	font-family: SolaimanLipi;
	src: url('fonts/SolaimanLipi.ttf');
}

* {
	box-sizing: border-box;
	/* font-family: telenor-light; */
	/* font-family: 'Open Sans', sans-serif; */
	/* font-weight: 300; */
	font-family: 'SolaimanLipi', sans-serif;
}

.body {
	margin: 0;
	min-height: 100vh;
	background: #19aaf8;
}

a {
	text-decoration: none;
	color: #19aaf8;
}

.w-50 {
	width: 50% !important;
}

.w-100 {
	width: 100% !important;
}

.wrap {
	max-width: 360px;
	min-width: 340px;
	margin: auto;
	position: absolute;
	background: #fff;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;
	border: 1px solid #ccc;
}

.wrap:hover {
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.logo {
	float: left;
	width: 100%;
	padding: 5px 10px;
	margin: 15px 0;
}

.logo img {
	float: left;
	width: 100%;
	padding: 20% 10% 5%;
}

.wrap input[type='text'],
.wrap input[type='password'] {
	padding-left: 40px !important;
}

.wrap input[type='text'],
.wrap input[type='password'],
.wrap input[type='submit'] {
	width: 100%;
	float: left;
	position: relative;
	margin: 5px 0;
	height: 35px;
	border: 1px solid #19aaf8;
	padding: 5px 10px;
}

label[for='username'],
label[for='password'] {
	position: absolute;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	line-height: 100%;
	vertical-align: middle;
	padding: 15px 8px;
	color: black;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.form-item {
	float: left;
	width: 100%;
	margin: 10px 0;
	position: relative;
	line-height: 18px;
}

.wrap input[type='checkbox'] {
	width: 15px;
	height: 15px;
	float: left;
	position: relative;
	margin: 1px 3px;
}

.wrap input[type='checkbox']+label {
	width: calc(100% - 30px);
	float: left;
	position: relative;
	line-height: 15px;
	margin-left: 9px;
	line-height: 18px;
}

.forgotpass {
	color: #19aaf8;
	text-transform: uppercase;
	font-size: 14px;
}

.wrap input[type='submit'] {
	background: #19aaf8;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.question-align {
	margin-right: 30px;
}

.single-question {
	margin-right: 5px;
}

.wrap-registration {
	max-width: 420px;
	min-width: 400px;
	margin: auto;
	position: absolute;
	background: #fff;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;
	border: 1px solid #ccc;
}

.wrap-registration:hover {
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrap-verification {
	max-width: 360px;
	min-width: 340px;
	margin: auto;
	position: absolute;
	background: #fff;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;
	border: 1px solid #ccc;
}

.error {
	max-width: 360px;
	min-width: 340px;
	margin: auto;
	position: absolute;
	background: #fff;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;
	border: 1px solid #ccc;
}

.error-404 {
	color: red;
	text-align: center;
}

.error {
	max-width: 360px;
	min-width: 340px;
	margin: auto;
	position: absolute;
	background: #fff;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;
	border: 1px solid #ccc;
}

.error-404 {
	color: red;
	text-align: center;
}

.loading {
	margin: auto;
	position: absolute;
	background: #fff;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;
}

.gutter-example .ant-row>div {
	background: transparent;
	border: 0;
}

.gutter-box {
	background: #00a0e9;
	padding: 5px 0;
}

.login-form-button {
	width: 100%;
}

.center {
	width: 50%;
	margin: 0 auto;
}

.no-pointer {
	cursor: auto;
}

.pointer {
	cursor: pointer;
}

.not-allowed {
	cursor: not-allowed;
}

/* Term and condition*/
.terms-policy {
	text-align: justify;
}

.terms-policy-header {
	color: #19aaf8;
	font-size: 24px;
	font-weight: bold;
}

.p-tag {
	font-size: 16px;
	color: black;
}

h4 {
	color: #19aaf8 !important;
}

/* .li{
  color: #19aaf8;
  font-size: 24px;
  font-weight: bold;
}  */
.li-terms {
	font-size: 20px;
	color: #19aaf8;
}

.header-privacy {
	font-size: 16px;
	color: #19aaf8;
	font-weight: bold;
}

.ant-input-affix-wrapper {
	margin: 0.5rem 0rem;
}

#single-input1,
#single-input2,
#single-input3,
#single-input4 {
	padding-left: 0px !important;
	text-align: center;
	padding-right: 0px !important;
}

.single-row-container {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

.exam-card-container {
	width: inherit;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .ant-card-head, .ant-card-body {
	padding: 0 10px !important;
} */
.row-dragging {
	background: #fafafa;
	border: 1px solid #ccc;
}

.row-dragging td {
	padding: 16px;
	visibility: visible;
}

.row-dragging .drag-visible {
	visibility: visible;
}

.combine-list {
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	overflow: auto;
	padding: 8px 24px;
	height: 300px;
}


.student-tab-menu.ant-menu-overflow,
.primary-top-menu.ant-menu-overflow {
	display: block !important;
}

.student-tab-menu.ant-menu-horizontal>.ant-menu-item:after {
	display: none !important;
}